/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { font-family: sans-serif; color: #222; }

body { margin: 0; font-size: 1em; line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #08C; text-decoration: none; }
a:visited { color: #08C; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button, input { line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

/*
 * Re-set default cursor for disabled elements
 */

button[disabled], input[disabled] { cursor: default; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/* ==|== primary styles =====================================================
   Author: Matt West
   ========================================================================== */


body {
  padding: 0;
  margin: 0;
  background: url('../img/bg.jpg');
  border-top: 6px solid rgba(0,0,0,0.8);
  font-family: Helvetica Neue, Helvetica, Arial, Sans-serif;
  width: 100%;
  position: absolute;
}

body.index {
  background: black url('../img/home_bg.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  border-top: none;
}

body.index header {
  padding-top: 6px;
}

body.index nav ul li a div.page-title {
  color: white;
  text-shadow: none;
}

body.index nav ul li a div.page-description {
  color: #BABABA;
  text-shadow: none;
}

body.index nav ul li a.active div.page-title,
body.index nav ul li a:hover div.page-title,
body.index nav ul li a:focus div.page-title {
  color: #FFF !important;
  text-shadow: 0 1px 3px rgba(0,0,0,1);
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
}

body.index nav ul li a.active div.page-description,
body.index nav ul li a:hover div.page-description,
body.index nav ul li a:focus div.page-description {
  color: #BABABA !important;
  text-shadow: 0 1px 3px rgba(0,0,0,1);
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
}


body.index footer {
  color: #BABABA;
  width: 100%;
  position: absolute;
  bottom: 0;
}

header {
  width: 90%;
  margin: 0 auto;
}

#logo {
  position: absolute;
  z-index: 999;
  left: 5%;
  background-color: black;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2E2E2E), to(black));
  background-image: -webkit-linear-gradient(top, #2E2E2E, black);
  background-image: -moz-linear-gradient(top, black, #2E2E2E);
  background-image: -ms-linear-gradient(top, black, #2E2E2E);
  background-image: -o-linear-gradient(top, black, #2E2E2E);
  margin-top: 1.5em;
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
}

#logo:hover {
  background-color: #111;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#444), to(#111));
  background-image: -webkit-linear-gradient(top, #444, #111);
  background-image: -moz-linear-gradient(top, #444, #111);
  background-image: -ms-linear-gradient(top, #444, #111);
  background-image: -o-linear-gradient(top, #444, #111);
}

#logo.slide-right {
  left: -100px;
}

#logo.fix-side {
  position: fixed;
  left: 0;
}

#logo a {
  display: block;
  width: 90px;
  height: 90px;
  background: url('../img/dc-logo.png') center center no-repeat;
  font-size: 0;
  opacity: 0.85;
}

/****************************
  Navigation
****************************/
nav {
  float: right;
  margin-top: 2.1em;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
}

nav.nav-hide {
  opacity: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  float: left;
  padding: 0.25em 0.6em;
}

nav ul li a {
  display: block;
  text-decoration: none;
  padding: 0.85em 0.6em;
  text-shadow: 0 1px 0 white;
}

nav ul li a div.page-title {
  color: black;
  font-size: 0.8em;
  letter-spacing: 1px;
  text-transform: uppercase;
}

nav ul li a div.page-description {
  padding-top: 0.1em;
  font-size: 0.75em;
  font-family: Georgia;
  color: #999;
}

nav ul li a.active div.page-title,
nav ul li a:hover div.page-title,
nav ul li a:focus div.page-title {
  color: purple !important;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
}

nav ul li a.active div.page-description,
nav ul li a:hover div.page-description,
nav ul li a:focus div.page-description {
  color: #636363 !important;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
}

#menu-side {
  position: fixed;
  z-index: 999;
  right: -100px;
  margin-top: 1.5em;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
}

#menu-side.slide-left {
  right: 0px;
}

#menu-side a {
  display: block;
  background-color: black;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2E2E2E), to(black));
  background-image: -webkit-linear-gradient(top, #2E2E2E, black);
  background-image: -moz-linear-gradient(top, black, #2E2E2E);
  background-image: -ms-linear-gradient(top, black, #2E2E2E);
  background-image: -o-linear-gradient(top, black, #2E2E2E);
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
  width: 90px;
  max-height: 34px;
  color: white !important;
  text-align: center;
  text-decoration: none;
  font-family: Georgia;
  font-size: 28px;
  padding: 23px 0 33px 0;
}

#menu-side a:hover {
  background-color: #111;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#444), to(#111));
  background-image: -webkit-linear-gradient(top, #444, #111);
  background-image: -moz-linear-gradient(top, #444, #111);
  background-image: -ms-linear-gradient(top, #444, #111);
  background-image: -o-linear-gradient(top, #444, #111);
}

#menu-popout {
  position: fixed;
  z-index: 1;
  margin-top: 2.1em;
  right: -750px;
  background: rgba(255,255,255,0.9);
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  -webkit-transition: all .6s ease-in-out;
  -moz-transition: all .6s ease-in-out;
  -o-transition: all .6s ease-in-out;
}

#menu-popout.visible {
  right: 90px;
}

#menu-popout ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#menu-popout ul li {
  float: left;
}

#menu-popout ul li a {
  display: block;
  text-decoration: none;
  padding: 1.1em 1.2em;
  text-shadow: 0 1px 0 white;
}

#menu-popout ul li a:hover,
#menu-popout ul li a:focus {
  
}

#menu-popout ul li a div.page-title {
  color: black;
  font-size: 0.8em;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#menu-popout ul li a div.page-description {
  padding-top: 0.1em;
  font-size: 0.75em;
  font-family: Georgia;
  color: #999;
}

#menu-popout ul li a:hover,
#menu-popout ul li a:focus {
  background: #EEE;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}

#menu-popout ul li a:hover div.page-title,
#menu-popout ul li a:focus div.page-title {
  color: purple !important;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}

#menu-popout ul li a:hover div.page-description,
#menu-popout ul li a:focus div.page-description {
  color: #636363 !important;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}

/****************************
  Main Content
****************************/
#container {
  width: 90%;
  background: white;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  margin: 2.5em auto;
}

#container h1 {
  text-align: center;
  margin: 1.5em 0;
  font-weight: normal;
}

#container p {
  text-align: justify;
  font-size: 0.9em;
  line-height: 1.4em;
}

#home-container {
  color: white;
  position: absolute;
  left: 50%;
  margin-left: -371px;
  top: 50%;
  margin-top: -82px;
  background: rgba(0,0,0,0.7);
  padding: 15px 30px 30px;
}

#home-container h1 {
  text-transform: uppercase;
  font-weight: 100;
  text-align: center;
  letter-spacing: 7px;
  font-size: 5em;
  margin: 0;
}

#home-container h2 {
  text-align: center;
  font-weight: 100;
  margin: -0.4em 0 0 0;
  letter-spacing: 3px;
  font-size: 1.4em;
  font-style: italic;
  color: white;
}

#image-credit {
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  background: rgba(0,0,0,0.7);
  font-size: 0.75em;
  z-index: 999;
}

#image-credit a {
  color: #BABABA;
  display: block;
  padding: 0.5em 1em;
}

#feature {
  margin: 2.5em 0;
  padding: 10em 0;
  background: white;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
}

#feature.hide {
  opacity: 0;
}

#design {
  opacity: 0;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
}

#design.show {
  opacity: 1;
}

#development {
  opacity: 1;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
}

#development.show {
  opacity: 1;
}


#page-text {
  padding: 3em;
}

#page-text h1 {
  text-transform: uppercase;
  font-weight: 100;
  text-align: left;
  letter-spacing: 7px;
  font-size: 4em;
  line-height: 1.2em;
  margin: 0 0 0.5em 0;
  width: 50%;
  float: left;
  clear: both;
}

#page-text > section > h1 {
  text-transform: none;
}

#page-text > section > h1.left {
  font-size: 2em;
  float: left;
  text-align: left;
}

#page-text > section > h1.right {
  font-size: 2em;
  float: right;
  text-align: right;
}

#page-text > section {
  margin-top: 8em;
  width: 100%;
}

#page-text > section.no-margin {
  margin: 0;
}

#page-text > section.left {
  float: left;
}

#page-text > section.right {
  float: right;
}

#page-text p.left {
  clear: both;
  float: left;
  width: 55%;
  line-height: 1.8em;
  letter-spacing: 1px;
  text-align: justify;
}

#page-text p.right {
  clear: both;
  float: right;
  width: 55%;
  line-height: 1.8em;
  letter-spacing: 1px;
  text-align: justify;
}

#page-text form.right {
  clear: both;
  float: right;
  line-height: 1.8em;
  letter-spacing: 1px;
  text-align: right;
}

#page-text form.right p {
  text-align: right;
}

#page-text form input,
#page-text form textarea {
  border: 1px solid #D9D9D9;
  padding: 10px;
  width: 90%;
  background-color: #FFF;
}

::-webkit-input-placeholder {
  font-weight: 100;
}

:-moz-placeholder {
  font-weight: 100;
}

#page-text form textarea {
  height: 130px;
}

button#submit {
  padding: 10px 20px;
  border: 1px solid #D9D9D9;
  background: white;
}

button#submit:hover,
button#submit:focus {
  background: #EEE;
}

#page-text p.emphasize {
  font-size: 1.5em;
  text-align: left;
  font-weight: 100;
  letter-spacing: 2px;
}

#page-text p.text-left {
  text-align: left;
}

#page-text p.text-right {
  text-align: right;
}

ul#projects {
  clear: both;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul#projects li {
  float: left;
  width: 33.3%;
  height: 200px;
  background: #BABABA;
}

ul#projects li:nth-child(2),
ul#projects li:nth-child(7) {
  background: #636363;
}

ul#projects li:nth-child(3),
ul#projects li:nth-child(8) {
  background: #CCC;
}

ul#projects li:nth-child(4),
ul#projects li:nth-child(9) {
  background: #D9D9D9;
}

ul#projects li:nth-child(6) {
  background: #999;
}

h1#social {
  float: none;
}

section#social-twitter {
  float: left;
  width: 45%;
  min-height: 400px;
  margin: 0;
}

section#social-events,
section#social-instagram {
  float: right;
  width: 45%;
  margin: 0;
}

section#social-events {
  margin-bottom: 3em;
}

section#social-twitter h1,
section#social-events h1,
section#social-instagram h1 {
  font-size: 1.5em;
  float: none;
  width: 100%;
}

#twitter-posts ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0.9em;
}

#twitter-posts ul li {
  margin-bottom: 2em;
}

#instagram-photos div {
  float: left;
  width: 22%;
  margin: 0 3% 3% 0;
}

#instagram-photos div img {
  width: 100%;
}

#social-events ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#social-events ul li {
  margin-bottom: 1.5em;
}

#social-events div.event-date {
  float: left;
  width: 80px;
}

#social-events div.event-name {
  font-size: 1.1em;
  margin-bottom: 0.2em;
}

#social-events div.event-location {
  font-size: 0.8em;
  color: rgba(0,0,0,0.6);
}

#social-events div.event-details {
  float: left;
}

section img {
  max-width: 100%;
}

#page-text h1#contact {
  float: none;
}

section#contact-social {
  margin: 0 0 4em;
  float: left;
  width: 50%;
}

section#contact-trad {
  margin: 0;
  float: left;
  width: 50%; 
}

section#contact-message {
  float: right;
  margin: 0;
  width: 50%;
}

section#contact-social h1,
section#contact-trad h1,
section#contact-message h1 {
  width: 100%;
  font-size: 2em;
}

/****************************
  Portfolio
****************************/

#page-text section.project {
  width: 100%;
  height: auto;
  position: relative;
  min-height: 100px;
  margin-top: 3em !important;
}

section.project-first {
  margin-top: 2em;
}

section.project img {
  width: 100%;
}

.project a {
  display: block;
}

#page-text .project h1 {
  position: absolute;
  bottom: 15%;
  left: 0;
  display: block;
  color: white;
  padding: 0.5em 1em 0.5em;
  text-align: center;
  background: black;
  background: rgba(0,0,0,0.8);
  max-width: none;
  width: auto;
  float: none;
  font-size: 2em;
  clear: none !important;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

#page-text .project a:hover h1 {
  background: black;
}

#page-text .project a:hover img {

}

h1#project-title {
  width: 100%;
  float: none;
}

#page-text #project-description {
  float: left;
  width: 65%;
  margin-top: 0;
}

#page-text #project-tools {
  float: right;
  width: 30%;
  margin-top: 0;
}

#page-text #project-images {
  text-align: center;
  margin: 1em 0 3em;
}

#page-text #project-images img {
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
  width: 30%;
  margin: 0 1.5%;
}

#page-text #project-description h1,
#page-text #project-tools h1 {
  float: none;
  width: auto;
  font-size: 1.5em;
}

#page-text #project-description p,
#page-text #project-tools p {
  line-height: 1.8em;
  letter-spacing: 1px;
  text-align: justify;
}

#page-text #project-description ul,
#page-text #project-tools ul {
  list-style: none;
  line-height: 1.8em;
  letter-spacing: 1px;
  font-size: 0.9em;
  text-align: justify;
  margin: 0;
  padding: 0;
}

/****************************
  Footer
****************************/
footer {
  text-align: center;
  margin: 1em 0;
  font-size: 0.8em;
  color: rgba(0,0,0,0.3);
  letter-spacing: 1px;
}

footer p {
  margin: 0 0 0.5em 0;
  font-size: 1.6em;
  font-family: 'Niconne';
}

footer p:after,
footer p:before {
  content: '"';
}







/* ==|== media queries ======================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media only screen and (max-width: 860px), only screen and (max-device-width: 860px) {
  header,
  #container {
    width: auto;
    margin: 0 10px;
  }

  #logo {
    position: relative !important;
    clear: both;
    margin: 0 auto;
    width: 90px;
    left: 0;
  }

  nav {
    float: none;
    text-align: center;
    margin-top: 0;
  }

  nav ul li {
    float: none;
    display: inline-block;
    padding: 0;
  }

  nav ul li a div.page-description {
    display: none;
  }

  #container {
    margin-top: 0;
  }

  #page-text p.left {
    float: none;
    width: 100%;
  }

  #page-text p.right {
    float: none;
    width: 100%;
  }

  #page-text form.right {
    float: none;
  }

  #page-text h1 {
    width: 100%;
  }

  #page-text > section {
    margin-top: 4em;
  }

  #page-text > section > h1.left {
    float: none;
  }

  #page-text > section > h1.right {
    float: none;
    text-align: left;
  }

  #page-text > section.left {
    float: none;
  }

  #page-text > section.right {
    float: none;
  }
}


/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
